@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 211 80% 94%;
    --foreground: 211 40% 20%;
    --card: 0 0% 100%;
    --card-foreground: 211 40% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 211 40% 20%;
    --primary: 211 100% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 211 60% 88%;
    --secondary-foreground: 211 100% 20%;
    --muted: 211 60% 90%;
    --muted-foreground: 211 40% 45%;
    --accent: 37 54% 60%;
    --accent-foreground: 37 54% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 40% 80%;
    --input: 211 40% 88%;
    --ring: 211 100% 30%;
    --chart-1: 211 100% 40%;
    --chart-2: 37 54% 60%;
    --chart-3: 211 60% 70%;
    --chart-4: 37 54% 80%;
    --chart-5: 211 80% 90%;
    --radius: 0.5rem;
    --sidebar-background: 210 50% 12%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: 211 100% 60%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 50% 20%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 210 50% 25%;
    --sidebar-ring: 211 100% 50%;
  }
  .dark {
    --background: 211 40% 10%;
    --foreground: 211 40% 95%;
    --card: 211 40% 15%;
    --card-foreground: 211 40% 95%;
    --popover: 211 40% 15%;
    --popover-foreground: 211 40% 95%;
    --primary: 211 100% 70%;
    --primary-foreground: 211 100% 10%;
    --secondary: 211 40% 25%;
    --secondary-foreground: 211 40% 95%;
    --muted: 211 40% 20%;
    --muted-foreground: 211 40% 65%;
    --accent: 37 54% 70%;
    --accent-foreground: 37 54% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 211 40% 25%;
    --input: 211 40% 25%;
    --ring: 211 100% 70%;
    --chart-1: 211 100% 60%;
    --chart-2: 37 54% 60%;
    --chart-3: 211 60% 50%;
    --chart-4: 37 54% 40%;
    --chart-5: 211 80% 30%;
    --sidebar-background: 211 40% 10%;
    --sidebar-foreground: 211 40% 95%;
    --sidebar-primary: 211 100% 70%;
    --sidebar-primary-foreground: 211 100% 10%;
    --sidebar-accent: 211 40% 20%;
    --sidebar-accent-foreground: 211 40% 95%;
    --sidebar-border: 211 40% 25%;
    --sidebar-ring: 211 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
